/**
  * ===========================================================
  * MAP SECTION
  * ===========================================================
  */

.location {
  position: relative;

  min-height: 350px;
}

.location__map-wrap {
  position: relative;

  margin: 0 auto;

  max-width: 320px;
  min-height: 350px;
}

.location__map {

  .img-x-center(768px);

  z-index: 0;
}

.location__mark {

  .absolute-top-left(160px, 145px, 27px, 27px);

  z-index: 100;
}

/**
  * ===========================================================
  * HOTEL SEARCH SECTION tablet
  * ===========================================================
  */

@media @tablet-widths {

  .location__map {

    left: 0px;
    top: 0px;

    margin: 0px;

    width: 100%;
  }
}
