/**
  * ===========================================================
  * PAGE FOOTER
  * ===========================================================
  */

.page-footer {
  margin: 0 auto;
  padding: 18px 0px;

  max-width: @page-max-width;

  font-family: "PTSans", "Arial", sans-serif;
  font-weight: normal;

  background-color: #fefefe;
  text-align: center;
}

.page-footer__header {
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;
}

.page-footer__copyright {
  position: relative;

  margin-top: 36px;

  font-size: 14px;
  line-height: 26px;

  text-transform: uppercase;
}

.page-footer__copyright-link {
  margin-right: 40px;

  line-height: 40px;
  vertical-align: middle;

  color: #000000;
  text-decoration: none;
}

.page-footer__copyright-icon {

  position: absolute;

  right: 84px;

  width: 52px;
  height: 42px;

  cursor: pointer;

  &:hover path {
    fill: #81b3d2;
  }

  &:active path {
    fill: #b2b2b2;
  }
}

/**
  * ===========================================================
  * PAGE FOOTER tablet
  * ===========================================================
  */

@media @tablet-widths {

  .page-footer {
    max-width: @page-max-width;
    margin: 0 auto;
    padding: 20px 0px;

    .clearfix();
  }

  .page-footer__header {

    display: inline-block;
    vertical-align: top;

    padding-left: 60px;

    float: left;
    margin: 27px 0px;
  }

  .page-footer__social {
    display: inline-block;
    vertical-align: top;

    float: left;

    width: 156px;
    margin: 13px 110px;
  }

  .page-footer__copyright {
    display: inline-block;
    vertical-align: top;

    float: left;

    margin: 20px 0px;
    padding-right: 60px;
  }
}

