/**
  * ===========================================================
  * SOCIAL LONKS SECTION
  * ===========================================================
  */

.social-links {
  font-size: 0px;
}

.social-link {
  position: relative;

  display: inline-block;

  margin: 0px 3px;

  width: 46px;
  height: 48px;

  font-size: 0px;

  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active::before {
     filter: none;
  }

  &::before {
    content: "";
    
    .absolute-top-left(0px, 0px, 46px, 48px);

    background-repeat: no-repeat;
    background-position: 50% 50%;

    filter: brightness(0%) invert(100%);
  }

  &--tw::before {
    background-image: url("../img/icon-twitter.svg");
  }

  &--fb::before {
    background-image: url("../img/icon-facebook.svg");
  }

  &--ub::before {
    background-image: url("../img/icon-youtube.svg");
  }
}

