/**
  * ===========================================================
  * SOCIAL LONKS SECTION
  * ===========================================================
  */

.social-links {
  font-size: 0px;
}

.social-link {
  display: inline-block;

  margin: 3px;

  width: 46px;
  height: 48px;

  font-size: 0px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--tw {
    background-image: url('../img/icon-twitter.svg');
  }

  &--fb {
    background-image: url('../img/icon-facebook.svg');
  }

  &--ub {
    background-image: url('../img/icon-youtube.svg');
  }
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
  filter: brightness(0.75);
}
